<!-- <p id='notice'><%= notice %></p> -->
<%= "Logged in as:"+@admin.user_name %>
<p>
  <strong>First name:</strong>
  <%= @admin.first_name %>
</p>
 

<p>
  <strong>Last name:</strong>
  <%= @admin.last_name %>
</p>
 
<p>
  <strong>email:</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @admin.mobile_number %>
</p>
 
<p>
  <strong>Username:</strong>
  <%= @admin.user_name %>
</p>


 
<%= link_to 'New lead', leaders_new_path %>
<%= link_to 'All lead', leaders_path %>

<%= link_to 'log_out', sessions_destroy_path %>
