<h1>Reset Password</h1>
<p id='notice'><%= notice %></p>

<%= form_tag passwords_forgot_path, :method => :post do %>
  <div class='field'>
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>
    <div class='actions'>
    <%= submit_tag "Reset Password" %>
  </div>
<% end %>